@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #636369 !important;
  font-family: "Lexend", sans-serif;
}

#root,
.root-container {
  height: 100%;
}

.content-408{
  max-width: 408px;
}