:root {
  font-weight: 400;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  /* Primary Colors */
  --primary-main: #295D89;
  --primary-light: #D5E1EB;
  --primary-dark: #134B6D;

  /* Secondary Colors */
  --secondary-main: #F39B1C;
  --secondary-light: #EBE1D5;
  --secondary-dark: #DA8C25;

  /* Success Colors */
  --success-main: #26D499;
  --success-light: #D0EBD5;
  --success-dark: #16835C;

  /* Error Colors */
  --error-main: #C53A3A;
  --error-light: #EBD5D5;
  --error-dark: #962E2E;

  /* Warning Colors */
  --warning-main: #FFB351;
  --warning-light: #FFF4D7;
  --warning-dark: #F3A043;

  /* Gray Colors */
  --gray-100: #F2F2F0;
  --gray-200: #EBECE1;
  --gray-300: #D7C7C3;
  --gray-400: #B3B3B9;
  --gray-500: #A4A4B3;
  --gray-600: #313135;
  --gray-700: #636369;
  --gray-800: #0C0C0E;
  --gray-900: #404040;

  /* Spacers */
  --spacer-16: 16px;
  --spacer-24: 24px;
  --spacer-32: 32px;
  --spacer-40: 40px;
  --spacer-48: 48px;
  --spacer-56: 56px;
  --spacer-64: 64px;
  --spacer-72: 72px;
  --spacer-80: 80px;
  --spacer-104: 104px;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #636369 !important;
}

#root,
.root-container {
  height: 100%;
}